<!-- heading title -->
<head>
    <title>Registration Page</title>
    <!-- importing css file for registration -->
    <link rel="stylesheet" href="../css/registration.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <h1>Registration</h1>
            <input type="text" placeholder="Enter Username" name="name" ng-model="name">
            <br /><br />
            <input type="email" placeholder="Enter Email" name="email" ng-model="email">
            <br /><br />
            <input type="password" placeholder="Enter Password" name="password" ng-model="password">
            <br /><br />
            <input type="password" placeholder="Enter Confirm Password" name="cpassword" ng-model="cpassword">
            <br /><br />
            <button type="submit" ng-click="register()">Register</button>
            <br /><br />
            <p class="message">Sign In
                    <a ui-sref="login" ui-sref-active="active">Login</a>
            </p>
        </div>
    </div>
</body>
